.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.teal {
    background: teal;
}

.freezing {
    background: cyan;
}